---
import { SITE_TITLE } from '../../consts';
import HeaderLink from './HeaderLink.astro';
import { BASE_URL } from '../../consts';


import { promises as fs } from 'fs';
import * as path from 'path';
import { simplifyCodeName } from "../../utils.ts"

interface ScanResult {
    htmlFiles: string[];
    folders: string[];
}

/**
 * Scans a directory for HTML files and folders
 * @param dirPath Path to the directory to scan
 * @returns Object containing arrays of HTML files and folders
 */
async function scanDirectory(dirPath: string) {
	let results = []

	const items = await fs.readdir(dirPath);

	for (const item of items) {
		const fullPath = path.join(dirPath, item);
		const stats = await fs.stat(fullPath);

		if (stats.isDirectory()) {
			results.push(item)
		} else if (item.toLowerCase().endsWith('.astro')) {
			results.push(item.split(".")[0])
		}
	}

	return results;

}
let pages = await scanDirectory("./src/pages")


---

<header>
	<nav>
		<h2 style="width:210px;"><a href="/">{SITE_TITLE}</a></h2>
		<div id="internal-links">
			 <HeaderLink href="">Home</HeaderLink>
			{pages.map((i)=>{
				if(i=="index") return
				
				return <HeaderLink href={i}>  {simplifyCodeName(i)} </HeaderLink>
			})}
			
		</div>
		<div class="social-links" style="width:210px;">
			<a href="https://github.com/withastro/astro" target="_blank">
				<span class="sr-only">To Jeese's Restoration Instagram</span>
				<img src="https://www.svgrepo.com/show/521711/instagram.svg" width="32" height="32" aria-hidden="true">
			</a>
		</div>
	</nav>
</header>
<style>
	header {
		margin: 0;
		padding: 0 1em;
		background: white;
		box-shadow: 0 2px 8px rgba(var(--black), 5%);

		
	}
	h2 {
		margin: 0;
		font-size: 1em;
		height: 125px;

		display: flex;
		align-items: center;
		justify-content: center;
	}

	h2 a,
	h2 a.active {
		text-decoration: none;
	}
	nav {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	
	nav a {
		padding: 1em 0.5em;
		color: var(--black);
		text-decoration: none;
	}
	.social-links{
		text-align: right;
	}

	#internal-links{
		display: grid;
		justify-items: stretch;
		grid-auto-flow: column;

		background-color: rgb(226, 226, 226);
		padding-inline: 15px;
		padding-block: 5px;

		border-radius: 5px;

		gap:20px;
	}
	@media (max-width: 830px) {
		.social-links {
			display: none;
		}
		nav{
			flex-direction: column;
		}
		h2{
			font-size: 22px;
			width: 90vw;
		}
	}
</style>
