---
import Layout from '../layouts/layout.astro';
import Hero from '../components/Hero.astro';
---

<Layout title="Home">
	<Hero title=`Jesse's Restoration`></Hero>
	<h1> About us</h1>
	<p>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus ea dolore maiores consectetur quasi recusandae, porro cupiditate suscipit cumque enim quidem itaque accusamus? Culpa, delectus voluptas temporibus debitis vero tenetur.
	</p>
</Layout>
