---
interface Props {
    title: string;
    dynamicItem?: "Background" | "Title"| "None";
}

const { title, dynamicItem = "None"} = Astro.props;
---


<div id="Hero-Container">
    <div id="Hero-Background">
        <slot></slot>
    </div>
    <div id="Hero-Title-Container">
        <h2>{title}</h2>
    </div>
</div>


<style lang="less">

    #Hero-Container {
        position: relative;

        width: 100%;
        text-align: center;
        height: 380px;

        overflow: hidden;
        #Hero-Title-Container{
            position: absolute;

            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        #Hero-Background{
            position: absolute;
            width: 100%;
            height: 100%;
        }
    }
</style>