---
interface Props {
    title: string;
    dynamicItem?: "Background" | "Title"| "None";
}

const { title, dynamicItem = "None"} = Astro.props;
---


<div id="Hero-Container">
    <div id="Hero-Title-Container">
        <h2>{title}</h2>
    </div>
    <div id="Hero-Background">
        <slot></slot>
    </div>
</div>


<style>
    #Hero-Container {
        width: 100%;
        padding: 4rem 1rem;
        text-align: center;

        height: 30vh;
    }

    #Hero-Container h2 {
        margin: 0;
        font-size: 2.5rem;
    }
</style>